@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	@apply text-dark text-xl box-border m-0 p-0 text-left bg-no-repeat leading-10;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
@media (max-width: 720px) {
	body {
		@apply text-lg;
	}
	main {
		padding: 1em;
	}
}
@media (max-width:700px) {
	main {
	  max-width: calc(100% - 1em);
	  padding: 2em 0.8em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-dark;
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	@apply font-bold text-6xl;
}
h2 {
	@apply font-bold text-2xl;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	@apply text-dark underline;
}
a:hover {
	@apply text-gray;
}
p {
	@apply text-dark;
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
ol {
	list-style: number;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	@apply border-l-4 border-dark m-0 text-xl italic pl-5;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
