---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Ian Mezinskii. All rights reserved.
  <div class="social-links">
    <a class="no-underline" href="https://dzen.ru/ian"
      ><i class="fa-brands fa-yandex w-8"></i></a
    >

    <a class="no-underline" href="https://medium.com/@ian.mezinskii"
      ><i class="fa-brands fa-medium w-8"></i></a
    >

    <a class="no-underline" href="https://www.youtube.com/@IanMezinskii"
      ><i class="fa-brands fa-youtube w-8"></i></a
    >

    <a class="no-underline" href="https://www.threads.net/@mezinskiyio"
      ><i class="fa-brands fa-threads w-8"></i></a
    >

    <a
      class="no-underline"
      href="https://www.facebook.com/profile.php?id=100031461650608"
      ><i class="fa-brands fa-facebook w-8"></i></a
    >

    <a
      class="no-underline"
      href="https://x.com/IanMezinskii?t=T5Z4HUVhgRsvV5iaXSi0DQ&s=35"
      ><i class="fa-brands fa-x-twitter w-8"></i></a
    >
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
	@apply transition duration-300 ease-in-out text-gray-light no-underline;
  }
  .social-links a:hover {
    @apply text-primary;
  }
</style>
