---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
  
	a {
	  @apply inline-block no-underline text-base sm:text-lg;
	}
  
	a.active {
	  @apply font-bold underline border-t-danger leading-loose;
	}
</style>
