---
import type { HTMLAttributes } from "astro/types";
import { getLocalizedPathname } from "../i18n/utils";

type Props = HTMLAttributes<"a"> & { language: "ru" | "en", isActive: boolean };

const { language, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

const lang = Astro.params?.lang || "ru";
const isActive = language === lang;

const href = getLocalizedPathname(pathname, language);
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  {language}
</a>
<style>
 a {
	  @apply inline-block no-underline text-base sm:text-lg;
	}
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
